body{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
}

header{
    background-color: midnightblue;

    padding: 20px;
}
h1{
    color: white;
    font-size: 48px;
}
h2{
    font-size: 32px;
}
p{
    font-size: 24px;
}

#choices{
    display: flex;
    justify-content: center;
    gap: 100px;
}

#playerChoice, #computerChoice{ 
    font-size: 150px;
    text-shadow: 0 0 .5rem black;
}

#container{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 20px;
}

button{
    width: 125px;
    height: 125px;
    border-radius: 10px;
    border: none;
    font-size: 75px;
    background-color: yellow;
    cursor: pointer;
    
}

button:hover{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}